$background-color-white: #ffffff;
$background-color-grey: #f8f8f8;
$button-color: #ff3e79;
$menu-hover: rgba(255, 62, 120, 0.4);
$border-color: #d9fff5;
$border-slide-color: #eaeaea;
$text-black: #1b1c21;
$text-grey: #7e7e82;
$focus-color: #b8ffec;
$divider-color: #41f6d7;
$pagination-color: #dddddd;
$pagination-color-active: #b5b6bc;
